@font-face {
    font-family: Consolas;
    src: "fonts/Consolas.ttf";
  }

html {
    background-color: lightsteelblue;
    font-family: Consolas;
    color: white;
}

header {
    text-align: center;
    font-size: 64px;
    color: lightblue;
    padding-top: 3%;
    padding-bottom: 2%;
    /*border: solid 1mm lightblue;*/
    background-color: lightsteelblue;
    margin: 5mm 5mm 5mm 5mm;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: lightblue;
}

nav, .section_header {
    background-color: lightblue;
    color: lightsteelblue;
    text-align: center;
    margin-left: -8px;
    margin-right: -8px;
}

.section_header {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

ol {
    list-style-type: decimal;
    accent-color: white;
}

li {
    display: inline-block;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

li:hover {
    color: white;
    font-weight: bold;
    background-color: mediumpurple;
}

#projects_dropdown {
    background-color: mediumpurple;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
}

.box {
    max-width: 25%;
    margin-top: 10px;
    padding: 4%;
    color: mediumpurple;
    font-weight: bold;
    border: mediumpurple 1mm solid;
    text-align: justify;
    background-color: rgba(147, 112, 216, .2);
    display: inline-block;
    vertical-align: top;
}

img {
    display: inline-block;
    margin-top: 10px;
    max-width: 25%;
    max-height: 200px;
}

.box_brief {
    max-width: 25%;
    padding: 4%;
    color: white;
    text-align: center;
    background-color: mediumpurple;
    font-weight: bolder;
    display: inline-block;
    vertical-align: top;
}

table td {
    background-color: mediumpurple;
    padding: 20px;
}

section {
    width: 100%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    text-align: center;
}

.icon_link {
    width: 30px;
    height: 30px;
}

footer {
    background-color: lightblue;
    color: lightsteelblue;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 3%;
    text-align: center;
}

a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}