
html {
    background-color: lightsteelblue;
    font-family: "Consolas";
}

header {
    text-align: center;
    font-size: 64px;
    color: lightblue;
    border: solid 1mm lightblue;
    margin: 5mm 5mm 5mm 5mm;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: lightblue;
}

nav {
    background-color: lightblue;
    color: lightsteelblue;
    width: 100vw;
}

ul {
    display: inline-block;
    text-align: center;
}

ul:hover {
    color: white;
    font-weight: bold;
}

body {
    color: white;
    text-align: justify;
}

footer {
    background-color: lightblue;
    color: lightsteelblue;
}

.dropdown {
    
}